<%
var user_id = user._id;
%>

<!DOCTYPE html>
<html>

<head>
    <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
                <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
              <% if(admin && admin == true) { %>
                <% include ../templates/admin_nav.ejs %>
              <% }  %>
              <% include ../templates/nav.ejs %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Dashboard </h1>
                        <p class="nav-top-bar-para">Welcome to the Admin of Oldfield's Parents Evening Application</p>
                    </div>
                </div>
            </div>
            <div class="main-content-area" id="admin">
                <div class="container-fluid">
                    <div id="main-content-header-appointments" class="main-content-area-header" style="margin-bottom:0">
                      <div class="row">
                        <div class="col-md-4">
                          <h1 class="main-content-area-header-heading">Accounts </h1>
                          <p class="main-content-area-header-para">View all accounts...</p>
                        </div>
                        <div class="col-md-8" id="buttons" style="margin-top:15px;text-align:right;
                        display:block;margin-left:auto;" >
                            <button class="btn btn-info" type="button" onclick="add_students()">Student Editor</button>
                            <button class="btn btn-primary" type="button" onclick="view()">View</button>
                            <button class="btn btn-warning" type="button" onclick="edit()">Edit</button>
                            <button class="btn btn-danger" type="button" onclick="delete_acc()">Delete</button>
                        </div>
                      </div>
                    </div>
                    <div id="main-content-area-admin-dashboard">
                        <div class="main-content-area-inside">
                          <table id="account_table_data" class="table table-inverse" border="1">
                            <thead>
                              <tr>
                                <th><input type="checkbox" class="checkAll" name="checkAll" /></th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Group</th>
                              </tr>
                            </thead>
                            <tbody id="accounts_table">
                              <% if(accounts.length) { %>
                                <% for(var i = 0; i < accounts.length; i++) {
                                  var account = accounts[i];
                                  %>
                                  <tr role="row">
                                    <td><input class="checkbox" type="checkbox" value="<%= account._id %>" name="check" /></td>
                                    <td class="account_name" style="width:25%"><%= account.name %></td>
                                    <td class="email"><%= account.email %></td>
                                    <td class="account_group"><%= account._id %></td>
                                  </tr>
                                <%}%>
                              <%} else { %>
                                <td>No data avaliable!</td>
                                <td>No data avaliable!</td>
                                <td>No data avaliable!</td>
                                <td>No data avaliable!</td>
                              <% } %>
                            </tbody>
                          </table>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/admin_modals/api.ejs %>
    <% include ../templates/admin_modals/accounts.ejs %>
</body>

</html>
