/* "color = #2cb5e8; */

@-webkit-keyframes autofill {
    to {
      background:transparent;
      color:#fff;
    }
}

input:-webkit-autofill {
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}

.form {
  margin-top:60px;
  background-color:rgba(255,255,255,0.05);
  width:30%;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.logo {
  width:200px;
  height:auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.form-header {
  background-color:rgba(255,255,255,0);
  padding:0px;
}

.form-elements {
  padding:30px;
  padding-top:20px;
}

.form-header .h1, h1 {
  text-align:center;
  font-weight:bold;
  color:rgba(255,255,255,0.8);
}

.form-header p {
  letter-spacing:0.5px;
  text-align:center;
  opacity:0.3;
  color:#fff;
}

body {
  background-color:#322e2e;
  font-family:'Raleway', sans-serif;
}

.form-elements .form-control {
  font-size:20px;
  border:0px;
  border-bottom:2px solid rgba(255,255,255,.1);
  height:70px;
  border-radius:0px;
  background:rgba(255,255,255,0.0);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}


.form-elements label {
  font-size:14px;
  letter-spacing:1px;
  font-weight:400;
  opacity:0.8;
  color:#e6e5e5;
}

.form-control {
  font-size:14px;
  box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
  font-family:'Raleway', sans-serif;
  font-weight:500;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.form-control:hover, .form-control:active, .form-control:focus {
  box-shadow:inset 0 0px 0px rgba(0,0,0,.075);
  font-family:'Raleway', sans-serif;
  font-weight:500;
  color:#fff;
}

.form-header .h1, h1 {
  font-weight:bold;
}

.dots-text {
  font-family:'Raleway Dots', cursive;
}

.form-control:hover {
  background:rgba(255,255,255,0.05);
}

.form-control:focus {
  color:#939393;
  /*background:rgba(255,255,255,0.1);*/
  border:2px solid #2cb5e8;
}

.form-elements .btn.btn-default {
  background:#2cb5e8;
  border:0px;
  color:#fff;
  font-family:'Raleway',sans-serif;
  font-weight:600;
  height:70px;
  width:100%;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.form-elements .btn.btn-default:hover {
  background:#00baff;
}

.form-elements p {
  padding:10px;
  text-align:center;
  color:#fff;
}

.form-elements a {
  text-decoration:none;
  color:#2cb5e8;
  font-size:14px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.form-elements a:hover {
  transform: scale(1.05);
}

#main-content-area .btn {
  background: #2cb5e8;
}

.swal2-content .form-control  {
  padding:15px;
  border:2px solid rgba(0,0,0,.2);
  color:#333;
}

.image_upload {
  border:2px solid rgba(0,0,0,.2);
  margin-top:10px;
  margin-bottom:10px;
  border-radius: 50%;
}

.selectize-dropdown-content {
  overflow-y: scroll;
    max-height: 100px;
    font-size:14px;
    text-align: left;
    padding:0px;
}

.label {
    margin-left:0px;
    display: inline;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #333;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
}

.selectize-control.multi .selectize-input > div {
    cursor: pointer;
    margin: 0 3px 3px 0;
    padding: 2px 6px;
    border-bottom:2px solid rgba(0,0,0,0.1);
    background:rgba(60, 204, 230, 0.79);
    color:#fff;;
}

.selectize-control.plugin-remove_button [data-value] .remove {
    border-left: 0px;
    background:rgba(255,255,255,0.2);
    font-weight: bold;
}

.swal2-modal {
  overflow-y:hidden;
  overflow-x:hidden;
}

.selectize-dropdown [data-selectable], .selectize-dropdown .optgroup-header {
    padding: 8px 8px;
    border-bottom:2px solid rgba(0,0,0,0);
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    color:#333;
}

.selectize-dropdown [data-selectable]:hover {
  border-bottom:2px solid rgba(0,0,0,0.1);
  background:rgba(60, 204, 230, 0.79);
  color:#fff;
}

.selectize-dropdown [data-selectable]:hover .label {
  color:#fff;
}

.selectize-input {
    text-align: left;
    padding: 8px 8px;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 5px;
    height:75px;
    border:2px solid rgba(0,0,0,.2);
    color:#333;
    border-radius:5px;
    font-size:14px;
}

.selectize-input:hover,
.selectize-input:focus {
  border:2px solid #2cb5e8;
}

.swal2-content label  {
  display: block;
  margin-right:auto;
  text-align: left;
}

.swal2-content .form-control:hover,
.swal2-content .form-control:focus {
  color:#333;
}

.btn.btn-default {
  /*text-align:right;*/
  display:block;
  margin-left:auto;
  background-color:#2cb5e8;
  box-shadow:none;
  text-shadow:none;
}

.btn.btn-default {
  background:#2cb5e8;;
  border:0px;
  color:#fff;
  font-family:'Raleway',sans-serif;
  font-weight:600;
  margin-top:10px;
  /*height:70px;*/
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.btn.btn-default:hover {
  transform: scale(1.05);
}

.nav-top-bar-buttons .glyphicon.glyphicon-plus {
  padding-right:5px;
}

.btn.btn-default {
  width:auto;
}

.main-content-area {
  /*padding:50px 30px;*/
  margin:50px 80px;
  background:rgba(255,255,255,0.1);
}

.main-content-area-inside {
  /*padding:10px 20px;*/
}

.main-content-area-header {
  width:100%;
  margin-bottom:10px;
  padding:20px 20px;
  background:rgba(255,255,255,0.1);
}

.container-fluid {
  padding:0;
}

.main-content-area-header-heading {
  font-size:25px;
  text-align:left;
}

.main-content-area-header-para {
  font-size:18px;
  color:#878787;
}

.report-column-na {
  padding:30px;
  background:#2cb5e8;
  border-bottom:5px solid #2982c2;
}

.report-column {
  padding:30px;
  background:#454444;
  border-bottom:5px solid #2f2f2f;
}

.report-column:nth-child(odd) {
  padding:30px;
  background:#2cb5e8;
  border-bottom:5px solid #2982c2;
}

.appointment-column-na {
  padding:30px;
  background:#2cb5e8;
  border-bottom:5px solid #2982c2;
}

.appointment-column {
  padding:10px;
  background:#454444;
  border-bottom:5px solid #2f2f2f;
}

.appointment-column-odd {
  padding:10px;
  background:#454444;
  border-bottom:5px solid #2f2f2f;
}

.appointment-column:nth-child(3n+1) {
  padding:10px;
  background:#2cb5e8;
  border-bottom:5px solid #2982c2;
}

.col-md-6.right {
  text-align:right;
  display:block;
  margin-left:auto;
}

.appointment-column-title {
  color:#fff;
  font-weight:bold;
  font-size:25px;
  margin:0;
}

.appointment-column-time {
  margin:0;
  opacity:0.9;
  color:#fff;
  text-transform:uppercase;
  font-weight:500;
  font-size:20px;
  padding:0px;
}

.appointment-column-date {
  font-size:20px;
  margin:0;
  opacity:0.5;
  color:#fff;
  text-transform:uppercase;
  /*font-weight:700;*/
  padding:0;
  margin-top:15px;
}

.report-column-title {
  color:#fff;
  font-weight:bold;
  font-size:25px;
  margin:0;
}

.report-column-time {
  margin:0;
  opacity:0.9;
  color:#fff;
  text-transform:uppercase;
  font-weight:500;
  font-size:20px;
  padding:0px;
}

.report-column-date {
  font-size:20px;
  margin:0;
  opacity:0.5;
  color:#fff;
  text-transform:uppercase;
  /*font-weight:700;*/
  padding:0;
  margin-top:15px;
}


.glyphicon. {
  font-size:20px;
}

.link {
  box-shadow: none;
  padding:0;
  background: 0;
  color: #fff;
  border:0;
  margin-top:5px;
  text-align:left;
  display:block;
}

.report-buttons {
  padding:0;
  margin:0;
}

.report-buttons li {
  display:inline-block;
  list-style:none;
}

.right{
  display:block;
  margin-left: auto:
}

.appointment-buttons {
  padding:0;
  margin:0;
}

.appointment-buttons li {
  display:inline-block;
  list-style:none;
}

.main-content-area-inside .col-md-3 a {
  text-decoration:none;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  opacity:0.7;
}

.main-content-area-inside .col-md-3 a:hover {
  opacity:1;
  color:#fff;
}

.modal-content {
  border-radius:0;
  background:#333;
  color:#fff;
}

.modal-body {
  border:0;
}

.modal-header {
  border-bottom:1px solid rgba(255,255,255,0.1);
}

.modal-footer {
  border-top:1px solid rgba(255,255,255,0.1);
}
.modal-footer .btn-lg {
  width:auto;
}

.form-control {
  background:rgba(255,255,255,.05);
  color:#fff;
  border:2px solid rgba(255,255,255,.1);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.form-control:hover, .form-control:focus {
  border:2px solid #2cb5e8;
}

.modal-footer .btn + .btn {
  background:#2cb5e8;
  text-shadow:none;
  box-shadow:none;
  font-weight:700;
}

.modal-footer .btn.btn-default.btn-lg {
  background:#566362;
  text-shadow:none;
  box-shadow:none;
  font-weight:700;
  color:#fff;
  border:0px;
}

.modal-content textarea.form-control {
  background:rgba(255,255,255,.1);
  text-shadow:none;
  box-shadow:none;
  font-weight:700;
  color:#fff;
  border:2px solid rgba(255,255,255,0.1);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.modal-content textarea.form-control:hover, .modal-content textarea.form-control:focus {
  border:2px solid #2cb5e8;
}

.main-content-area-child {
  padding:10px;
  background:#454444;
}

.main-content-area-child:nth-child(3n+1) {
  padding:10px;
  background:#2cb5e8;
}

.main-content-area-inside-children {
  padding:0;
  margin:0;
}

.col-md-6.main-content-area-child {
  margin:0;
}

.row.main-content-adjustment {
  width:100%;
  margin:0;
  /*margin-bottom:10px;*/
}

.main-content-area-inside-account {
  padding:20px;
}

.control-label.main-content-area-form-label {
  color:#fff;
  opacity:0.8;
  font-weight:500;
}

.form-control[disabled], fieldset[disabled] .form-control {
  background:#333;
}

.form-control:focus {
  color:#fff;
}

::-webkit-scrollbar {
  width:7px;
  height:12px;
}

::-webkit-scrollbar-track {
  background:rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background:rgba(0, 217, 255, 0.69);
}

.alert.alert-success {
  background:#11b018;
  color:#fbf8f8;
  border:0;
}

.alert.alert-info {
  border:0;
  color:#ffffff;
  background:#0bcbf5;
}

.alert.alert-warning {
  background:#f7d10c;
  color:#fff;
  border:0;
}

.alert.alert-danger {
  color:#fff;
  background:#f41414;
  border:0;
}

.Open {
  color: #fff;
  padding:5px;
  background:green;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}


.Closed {
  color: #fff;
  padding:5px;
  background:red;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}


.pending {
  color: #333;
  padding:5px;
  background:yellow;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}

.accepted {
  color: #fff;
  padding:5px;
  background:green;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}

.closed {
  color: #333;
  padding:5px;
  background:#ccc;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}

.denied {
  color: #fff;
  padding:5px;
  background:#333;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}

.cancelled {
  color: #fff;
  padding:5px;
  background:red;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  width:100%;
}

#hidden {
  display: none;
}

.link {
  background: rgba(255,255,255,.1);
  padding:3px 10px;
}

.appointment-details-heading {
  color:#fff;
  opacity:0.8;
}

.details {
  padding-top:20px 20px;
  background-color:rgba(0,0,0,0.1);
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.details:hover{
  transform: translateY(5px);
  background:#2cb5e8;
}


.participant {
  margin-top:10px;
  background-color:rgba(0,0,0,0.1);
  padding:10px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.participant:hover{
  transform: translateX(5px);
  background:#2cb5e8;
}

.participant a {
  cursor:pointer;
}

.participant-title {
  margin-bottom:0;
  color:#fff;
}

.participant .glyphicon.glyphicon-user {
  padding-right:5px;
  font-size:10px;
}

.participant a {
  text-decoration:none;
  color:#fff;
  opacity:0.6;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  padding:0;
}

.participant a:hover {
  opacity:1;
}

.participant-type {
  margin:0;
  color:#fff;
  font-weight:bold;
  letter-spacing:2px;
  opacity:0.3;
  padding:0;
}

.appointment-details-status {
  font-size:18px;
  color:#fff;
  padding:0;
  margin-top:10px;
  margin-bottom:10px;
  padding:20px;
  width:50%;
  text-align: left;
}

.appointment-details {
  font-size:18px;
  color:#fff;
  padding:0;
  margin-top:10px;
  margin-bottom:10px;
  padding:20px;
  width:50%;
  text-align: left;
  background:rgba(255,255,255,0.1);
}

.appointment-label-info {
  color:#fff;
  padding:0;
  margin:0;
  font-weight:600;
}

.appointment-info {
  font-size:18px;
  color:#fff;
  padding:0;
  margin-top:10px;
  margin-bottom:10px;
  padding:20px;
  text-align: left;
  background:rgba(255,255,255,0.1);
}

.avatar-image-small-circle {
  border:5px solid rgba(255,255,255,0.5);
  display:block;
  height:auto;
  width:150px;
  margin-left:auto;
  margin-right:auto;
  border-radius:50%;
}

.avatar-content {
  border-bottom:3px solid rgba(255,255,255,0.7);
  background:linear-gradient(141deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  padding:30px;
}

.avatar-title {
  text-align:center;
  color:#fff;
  /*text-transform:uppercase;*/
}

.avatar-student-year {
  text-align:center;
  color:#fff;
  /*text-transform:uppercase;*/
}

.avatar-name {
  margin:0;
  font-size:32px;
  margin-top:10px;
}

.avatar-bio {
  padding:10px;
  background:rgba(255,255,255,.1);
  color:#fff;
}

.profile-avatar-title {
  text-align:center;
  color:#fff;
}

.student-avatar-content {
  border-bottom:3px solid rgba(255,255,255,0.7);
  #background:linear-gradient(141deg, #333 0%, #333 51%, #333 75%);
  padding:30px;
}

.student_grades {
  padding:10px;
}

.student_grades_title {
  font-size:20px;
  text-align:left;
  font-weight:100;
}

.grade_box {
  margin-bottom:10px;
  background:rgba(0,0,0,0.1);
  border-bottom:3px solid rgba(0,0,0,0.1);
  padding:25px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.grade_box:hover {
  background: rgba(60, 204, 230, 1);
  border-bottom:3px solid rgba(255,255,255,0.5);
  transform: scale(1.05);
}

.grade_box a{
  width:20%;
  margin-left:auto;
}

.grade_box_subject {
  /*font-size:14px;*/
  text-align:left;
  margin:0;
}

.grade_box_term {
  text-align:left;
  /*text-transform:uppercase;*/
  margin:0;
  font-size:20px;
  opacity:0.7;
  font-weight:100;
}

.no_reports {
  color: #fff;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
}

.year {
  font-weight: bold;
  color:#2cb5e8;
}

.grade_box_date {
  color:#fff;
  font-style: italic;
  padding:0;
  margin:0;
  opacity:0.5;
}

.student_info p {
  color:#fff;
  padding:0;
  margin:0;
  font-size:18px;
  opacity:1;
}

.student_info {
  background:rgba(0,0,0,.1);
  border-bottom:3px solid rgba(0,0,0,0.1);
  padding:25px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.student_info:hover {
  background: rgba(60, 204, 230, 1);
  border-bottom:3px solid rgba(255,255,255,0.5);
  transform: scale(1.05);
  color:#fff;
}

.student_info_title {
  font-size:20px;
  text-align:left;
  font-weight:100;
}

.report-details-heading {
  color:#fff;
  opacity:0.8;
  padding-bottom:10px;
  border-bottom:1px solid rgba(255,255,255,.2);
}

.report .glyphicon.glyphicon-user {
  padding-right:5px;
  font-size:10px;
}

.report-details {
  font-size:18px;
  color:#fff;
  padding:0;
  margin:0;
  /*font-weight:600;*/
  opacity:0.4;
}

.report-info {
  font-size:18px;
  color:#fff;
  background:rgba(0,0,0,.1);
  padding:5px;
}

hr {
  margin:5px;
  opacity:0.1;
}

.children_a {
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

.children_a:hover {
  background: rgba(0,0,0,.1);
  text-decoration: none;
}

.chat_messages_header {
  padding:10px;
  overflow-y: scroll;
  background: rgba(255,255,255,.15);
  border:1px solid rgba(255,255,255,.25);
  border-bottom:0px;
  color:#fff;
}

.chat_messages_header_content {
  padding:20px;
  background: rgba(255,255,255,.2);
  border:1px solid rgba(255,255,255,.25);
  border-top:0px;
  color:#fff;
}

.chat_messages_header_content p {
  font-size:16px;
}

.chat_messages {
  font-size:16px;
  height:400px;
  overflow-y: scroll;
  border:1px solid #ccc;
  background: rgba(255,255,255,.1);
  border:1px solid rgba(255,255,255,.2);
  color:rgba(255,255,255,0.8);
}

.chat_messages .message {
  margin:0;
  padding:20px;
}

.chat_messages .message:nth-child(even) {
  background: rgba(255,255,255,0.1);
  border-bottom:1px solid rgba(255,255,255,0.2);
}

.chat_messages .message:nth-child(odd) {
  background: rgba(0,0,0,.1);
  border-bottom:1px solid rgba(0,0,0,0.2);
}

.chat_messages .message_head {
  font-style: italic;
  color:rgba(255,255,255,.5);
}

.chat_messages .message_date {
  text-align: right;
  color:rgba(255,255,255,.3);
  font-style: italic;
  border-radius:2px;
  font-size:14px;
}



.chat_enter textarea {
  background: rgba(255,255,255,.1);
  border:1px solid rgba(255,255,255,.2);
  padding-left:10px;
  font-size:20px;
  margin-top:20px;
  width:100%;
  height:100px;
  color:#fff;
}

.error {
  padding:5px;
  font-weight: 400;
  color:red;
}

.success {
  padding:5px;
  font-weight: 400;
  color:green;
}

.type {
  background:rgba(0,0,0,.1);
  padding:5px;
  color:#fff;
}

.Low {
  background:green;
  padding:5px;
  color:#fff;
}

.Medium {
  background:orange;
  padding:5px;
  color:#fff;
}

.High {
  background:red;
  padding:5px;
  color:#fff;
}

.table {
  margin-bottom:0px;
}

.table tbody {
  height:40px;
}

table.table{
  border:1px solid  rgba(255,255,255,.1);
  font-size:18px;
  width:100%;
  color:#fff;
}

table.table th{
  border:1px solid  rgba(255,255,255,.1);
  background:rgba(0,0,0,.1);
  text-align:left;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding:20px;
  border:1px solid  rgba(255,255,255,.1);
  border-left:0;
  border-right:0;
}
table.table tbody tr.selected {
    background-color: rgba(0,0,0,.2);
}

#admin {
  margin:10px 20px;
}

#admin .btn {
  border:0px;
  width:auto;
  padding:10px;
  border-radius: 0px;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
}

#admin .btn:hover {
  transform: translateY(-5px);
}

#admin .btn-primary {
  background:rgb(39, 221, 57);
}

#admin .btn-primary:hover {
  background:rgba(39, 221, 57,0.5);
}

#admin .btn-warning {
  background:rgb(221, 148, 39);
}

#admin .btn-warning:hover {
  background:rgba(221, 148, 39,0.5);
}

#admin .btn-danger {
  background:rgb(221, 39, 39);
}

#admin .btn-danger:hover {
  background:rgba(221, 39, 39,0.5);
}

.note {
  color:rgba(0,0,0,.2);
}

.swal2-container.swal2-shown {
    background-color: rgba(44, 181, 232, 1);
}

.swal2-modal .swal2-content {
    border: 1px solid #eee;
    /* background: rgba(0,0,0,.05); */
    padding: 30px;
    line-height: normal;
   color: #545454;
    word-wrap: break-word;
}

.dataTables_length {
    display: none;
    /* padding: 10px; */
    color: #fff;
    font-weight: 100;
    opacity: 0;
}

div#students_table_data_paginate,
div#dashboard_table_data_paginate,
div#account_table_data_paginate {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  color: #fff;
}

div#students_table_data_filter,
div#students_table_data_info,
div#dashboard_table_data_filter,
div#dashboard_table_data_info,
div#account_table_data_filter,
div#account_table_data_info{
    background: rgba(255,255,255,0.2);
    padding: 20px;
    color: #fff;
}

.form-elements .form-control:hover,
.form-elements .form-control:focus  {
  border:0px;
  border-bottom:2px solid #2cb5e8;
}
