
<h1 class="nav-bar-heading">admin menu</h1>
<ul class="nav-bar-main">

<% if(active == "All Appointments") {
    %>
    <li class="active"> <a href="/admin/dashboard">All Appointments </a></li>
    <%
  } else {
    %>
    <li> <a href="/admin/dashboard">All Appointments </a></li>
    <%
  }
  %>

<% if(active == "All Accounts") {
    %>
    <li class="active"> <a href="/admin/accounts">All Users </a></li>
    <%
  } else {
    %>
    <li> <a href="/admin/accounts">All Users </a></li>
    <%
  }
  %>

<% if(active == "All Students") {
    %>
    <li class="active"> <a href="/admin/students">All Students </a></li>
    <%
  } else {
    %>
    <li> <a href="/admin/students">All Students </a></li>
    <%
  }
  %>

  <% if(active == "All Classes") {
      %>
      <li class="active"> <a href="/admin/classes">All Classes </a></li>
      <%
    } else {
      %>
      <li> <a href="/admin/classes">All Classes </a></li>
      <%
    }
%>

<% if(active == "All Reports") {
    %>
    <li class="active"> <a href="/admin/reports">All Reports </a></li>
    <%
  } else {
    %>
    <li> <a href="/admin/reports">All Reports </a></li>
    <%
  }
  %>

<% if(active == "All Tickets") {
    %>
    <li class="active"> <a href="/admin/tickets">All Tickets </a></li>
    <%
  } else {
    %>
    <li> <a href="/admin/tickets">All Tickets </a></li>
    <%
  }
  %>

<% if(active == "All Codes") {
    %>
    <li class="active"> <a href="/admin/codes">All Codes </a></li>
    <%
  } else {
    %>
    <li> <a href="/admin/codes">Signup Codes </a></li>
    <%
  }
%>

</ul>
