<script type="text/javascript">

var appointment_data = JSON.parse('<%- appointment_data_js %>');
getData(getUrl() + '/api/get_user_data/' + appointment_data.teacher_id, function(callback) {
  if(callback.response != 1) {
    $('#teacher').text(callback.name);
  }
});

getData(getUrl() + '/api/get_user_data/' + appointment_data.parent_id, function(callback) {
  if(callback.response != 1) {
    $('#parent').text(callback.name);
  }
});

getData(getUrl() + '/api/get_student_data/' + appointment_data.student_id, function(callback) {
  if(callback.response != 1) {
    $('#student').text(callback.name);
  }
});

/*getData(getUrl() + '/api/get_student_data/' + appointment_data.student_id, function(callback) {

});*/
</script>
