<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var username = user.name;
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
}
%>

<!DOCTYPE html>
<html>

<head>
    <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
                <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
                <% include ../templates/nav.ejs %>
                <% if(admin && admin == true) { %>
                  <% include ../templates/admin_nav.ejs %>
                <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Tickets </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                    <div class="col-md-4 nav-top-bar-buttons" id="buttons">
                        <button class="btn btn-default" type="button" id="bookappointmentbutton"><i class="glyphicon glyphicon-plus"></i>Book an Appointment</button>
                        <button class="btn btn-default" type="button" id="parentseveningbooking"><i class="glyphicon glyphicon-plus"></i>Parents Evening Booking</button>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-appointments" class="main-content-area-header" style="margin-bottom:0">
                      <div class="row">
                        <div class="col-md-8">
                          <h1 class="main-content-area-header-heading">Tickets </h1>
                          <p class="main-content-area-header-para">View all of your tickets...</p>
                        </div>

                        <div class="col-md-4 right">
                          <button class="btn btn-default" type="button" id="create_ticket"><i class="glyphicon glyphicon-plus"></i> Create Ticket</button>
                          <button class="btn btn-default" type="button" onclick="window.location='<%- button_url %> '"><%= button_text %></button>
                        </div>
                      </div>
                    </div>
                    <div id="main-content-area-appointments">
                        <div id="reports" class="main-content-area-inside">
                          <%
                          if(tickets.length) {
                            counter = 1;
                            for(var i=0; i < tickets.length; i++) {
                              var ticket = tickets[i];
                              var date = moment(ticket.created_at).format("Do of MMMM YYYY");
                              %>
                              <div class="report-column">
                                <div class="row">
                                  <div class="col-md-9">
                                      <h3 class="report-column-title">Title: "<%= ticket.name %>"</h3>
                                      <ul class="report-buttons">
                                        <li><button onclick='apiSwal("Close this ticket?", "Please confirm you want to close this ticket.", "warning", "Close Ticket", "Close", "Ticket has been closed!", "/api/delete_ticket/" + "<%= ticket._id %>")' class="link"><i class="glyphicon glyphicon-trash"></i> Cancel</button></li>
                                        <li><button onclick='redirectSwal("Are you sure?", "Yes", "/main/view_ticket/" + "<%= ticket._id %>")' class="link"><i class="glyphicon glyphicon-file"></i> View</button></li>
                                      </ul>
                                      <p class="report-column-date"><%= date %></p>
                                  </div>
                                  <div class="col-md-3">
                                    <p class="<%= ticket.status %>"><%= ticket.status %></p>
                                  </div>
                                </div>
                              </div>
                              <%
                            }

                          } else {
                            %>
                            <div class="report-column-na">
                              <p class="report-column-date">You currently have no tickets...</p>
                            </div>
                            <%
                          }

                          %>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input id="t_data_store" type="hidden">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/tickets.ejs %>
</body>

</html>
