<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var profile_data = JSON.stringify({
  _id: profile._id
});
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
} %>
<!DOCTYPE html>
<html>

<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
              <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
              <% include ../templates/nav.ejs %>
              <% if(admin && admin == true) { %>
                <% include ../templates/admin_nav.ejs %>
              <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Profiles </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-account" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Profile </h1>
                        <p class="main-content-area-header-para">Viewing profile of "Mrs Hodgers"</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-account">
                          <%
                          name = profile.name;
                          picture_url = profile.picture_url;
                          bio = profile.bio;
                          if(picture_url == '') {
                            picture_url = "http://www.sheffield.com/wp-content/uploads/2013/06/placeholder.png";
                          }

                          %>
                            <div class="avatar-content"><img class="avatar-image-small-circle" src="<%- picture_url %>">
                                <h1 class="avatar-name"><%= name %></h1>
                                <p id="profile-avatar-title" class="profile-avatar-title"></p>
                                <p class="avatar-bio"><%= bio %></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/view_profile.ejs %>
</body>

</html>
