<%
var avaliable_times = JSON.stringify(times);
var avaliable_types = JSON.stringify(types);
var user_id = user._id;
var username = user.name;
var ticket_id = ticket._id;
var data_u = data;
var arr = [];
for(var i=0; i < data_u.length; i++) {
  obj = data_u[i];
  obj_string = JSON.stringify(obj);
  arr.push(obj_string);
} %>
<!DOCTYPE html>
<html>
<head>
  <% include ../templates/head.ejs %>
</head>

<body>
    <div id="wrapper">
        <div id="sidebar-wrapper">
            <div class="avatar-content">
              <% include ../templates/avatar.ejs %>
            </div>
            <div class="navigation-bar">
                <% include ../templates/nav.ejs %>
                <% if(admin && admin == true) { %>
                  <% include ../templates/admin_nav.ejs %>
                <% }  %>
            </div>
        </div>
        <div class="page-content-wrapper">
            <div id="nav-top-bar" class="nav-top-bar">
                <div class="row" id="nav-top-bar-row">
                    <div class="col-md-8" id="titles">
                        <h1 class="nav-top-bar-header">Appointments </h1>
                        <p class="nav-top-bar-para">Welcome to the Home of Oldfield's Parents Evening Application</p>
                    </div>
                </div>
            </div>
            <div id="main-content-area" class="main-content-area">
                <div class="container-fluid">
                    <div id="main-content-header-account" class="main-content-area-header" style="margin-bottom:0">
                        <h1 class="main-content-area-header-heading">Tickets</h1>
                        <p class="main-content-area-header-para">Chat to resolve your problem with ease...</p>
                    </div>
                    <div id="main-content-area-children">
                        <div class="main-content-area-inside-account">
                          <div class="chat_area">
                            <div class="chat_messages_header">
                              <h2>Ticket: <strong><%= ticket.name %></strong></h2>
                            </div>
                            <div class="chat_messages_header_content">
                              <div class="row">
                                <%
                                var date = moment(ticket.created_at).format("Do of MMMM YYYY");
                                %>
                                <div class="col-md-6">
                                  <p>Name: <%= ticket.name %></p>
                                  <p>Date: <%= date %></p>
                                </div>

                                <div class="col-md-6">
                                  <p>Priority: <span class="<%= ticket.priority %>"><%= ticket.priority %></span></p>
                                  <p>Type: <span class="type"><%= ticket.type %></div></p>
                                </div>
                              </div>
                            </div>
                            <div class="chat_messages">

                            </div>
                            <div class="chat_enter">
                              <textarea type="text" class="form-control" placeholder="Enter message..." id="message"></textarea>
                              <div id="socket"></div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <% include ../templates/modals/api.ejs %>
    <% include ../templates/modals/view_ticket.ejs %>
</body>

</html>
